    <!-- Destination Card Component -->
    <div class="container mt-5 mx-auto px-2">
        <!-- Flex on med screens and up -->
        <div class="md:flex lg:flex lg:items-center lg:flex-shrink-0 relative" style="min-width: min-content">
            <div class="absolute text-white z-10 text-xl mt-48 ml-24 font-bold">SHORT</div>
            <img class="shadow-md" src="<?= get_template_directory_uri() ?>assets/img/camel.jpg" alt="sad" style="height: 16rem; max-width:16rem">            
       </div>
    </div>